
<% content_for :sidebar do %>
<div class="sgroup">
	<h3>Errata</h3>
	<% unless @plugin.notes.blank? -%>
		<p><b>Notes</b>:</p>
		<p> <%= simple_format @plugin.notes %> </p>
		<br/>
	<% end %>
	<% unless @plugin.author.blank? -%>
		<p><b>Author</b>: <%=h @plugin.author %></p>
	<% end -%>
	<% unless @plugin.homepage.blank? -%>
		<p><b>Homepage</b>:	<a href="<%= @plugin.homepage %>"><%= @plugin.homepage %></a> </p>
	<% end -%>
	<% unless @plugin.version.blank? -%>
		<p><b>Ver.</b>: <%= @plugin.version %> </p>
	<% end -%>
</div>
<% end %>

<% content_for :action_nav do %>
<div id="page-nav">
  <ul id="act-nav" class="clear">
	<li>
 	 	<%= link_to 'Restore Defaults', :action => 'destroy', :id => @plugin.name %>
	</li>
	<li>
 	 	<%= link_to 'Index', :action => 'index' %>
	</li>
  </ul>
</div>
<% end %>

<% content_for :form  do -%>
	<%= form_tag({:action => 'update', :id => @plugin.name}, {:id => 'plugin-config-form'}) %>
<% end -%>

<% if @plugin.default_options.any? -%>
<div class="group">
	<dl>
		<dt><label for="plugin_config">Configuration</label></dt>
			<% @plugin.default_options.keys.each do |key| %>
				<dd><label for="options_<%= key %>"><%= key.to_s.humanize %></label></dt> <dd> <%= send "#{@plugin.default_options[key]}_tag", "options[#{key}]", @plugin.send(key) %> </dd>
			<% end %>
	</dl>
		
	<p class="buttons">	
		<%= submit_tag %> 
	</p>
</div>
<% else -%>
No configuration listed (perhaps not needed).
<% end -%>
