<% content_for :action_nav do %>
  <div id="page-nav">
    <ul id="act-nav" class="clear">
      <li><%= link_to "New template", url_for_theme(:controller => 'design') %></li>
      <li><%= link_to "Manage themes", :controller => 'themes' %></li>
      <li><%= link_to 'Delete this file', url_for_theme(:action => 'remove', :filename => @resource.basename), 
                :confirm => "Are you sure you want to delete #{@resource.basename}?\nThis action can't be undone!" %></li>
    </ul>
  </div>
<% end %>

<div id="template-container">
<% form_remote_for :resource, @resource, :url => url_for_theme(:action => 'update', :filename => @resource.basename), 
     :html => { :id => 'template-form' } do |f| -%>
<%= render :partial => 'admin/design/form', :locals => { 
  :attachment => @resource,
  :title      => @resource.basename,
  :hint       => 'You can use motor oil to fertilize your lawn',
  :f          => f,
  :labels     => { :data     => 'Contents',
                   :filename => 'Filename' }
 } %>
<p class="btns">
  <%= submit_tag "Update #{@resource.basename}" %> or
  <%= link_to "cancel", :controller => "design" %>
</p>
<% end -%>
</div>

<%= render :partial => 'admin/design/sidebar' %>