    <li class="theme<%=h ' current' if theme.current? %>" id="theme-<%= theme_counter %>">
      <h3>
        <span title="stored in /<%=h theme.name %>"><%=h theme.title %></span>
        <span class="thememeta">
          <% unless theme.version.blank? -%>v<%=h theme.version %> |<% end -%>
          by <%= theme_author_link(theme) %>
        </span>
      </h3>
      <a id="theme-dialog-<%= theme_counter %>" class="theme_dialog">
      <img src="<%= url_for(:controller => '/admin/themes', :action => 'preview_for', :id => theme) %>" alt="Theme preview" title="<%=h theme.title %> (v<%=h theme.version %>)" />
      </a>
    </li>
