<li id="<%= user.dom_id %>" class="clear<%= %( deleted) unless user.deleted_at.nil? %><%= %( selected) if @user == user %>" fsdfa>
    <%= avatar_for user %>
    <h3><%= link_to h(user.login), :action => 'show', :id => user %></h3>
    <%=h user.email %>
  <% unless user.admin? || user == current_user -%>
    <p>
      <%= check_box_tag user.dom_id(:user_toggle), user.id,  user.deleted_at.nil?, :onclick => "UserForm.toggle(this);" %>
      <strong><label for="<%= user.dom_id(:user_toggle) %>">Allow this user to login</label></strong>
    <% if admin? -%> |
      <%= check_box_tag user.dom_id(:user_toggle_admin), user.id,  user.site_admin?, :onclick => "UserForm.toggleAdmin(this);" %>
      <strong><label for="<%= user.dom_id(:user_toggle_admin) %>">Site admin?</label></strong>
    <% end -%>
      <%= image_tag 'mephisto/progress.gif', :size => '10x10', :style => 'display:none', :id => "#{user.dom_id}-progress" %>
    </p>
  <% end -%>
</li>
