  <div id="primary" class="twocol-stories">
    <div class="inside">
{% for article in articles %}
  {% if forloop.index < 3 %}
      <div class="story{% if forloop.first %} first{% endif %}">
        <h3>{{ article | link_to_article }}</h3>
        {{ article.excerpt }}
        {{ article.body }}
        <div class="details">
          Posted on {{ article.published_at | format_date: 'stub', true }} | 
          {{ article | link_to_comments }} |
          {% if article.sections.size > 0 %}
          Filed Under: {% for section in article.sections %}{{ section | link_to_section }} | {% endfor %}
          {% endif %}
          <span class="read-on"><a href="{{article.url}}">read on</a></span>
        </div>
      </div>
  {% endif %}
{% endfor %}
		
      <div class="clear"></div>

{{ articles | first | assign_to: 'latest_article' }}
<p>View archives for {{ section | link_to_month: latest_article.published_at }}.</p>

    </div>
  </div>

