  <div id="primary" class="twocol-stories">
    <div class="inside">
{% for article in articles %}
  {% if forloop.index < 3 %}
      <div class="story{% if forloop.first %} first{% endif %}">
        <h3>{{ article | link_to_article }}</h3>
        {{ article.body }}
        <div class="details">
          Posted at {{ article.published_at | strftime: '%H%p on %m/%d/%y' }} | 
          {{ article | link_to_comments }} |
          Filed Under: {% for section in article.sections %}{{ section.link }}{% endfor %} | 
          <span class="read-on"><a href="#">read on</a></span>
        </div>
      </div>
  {% endif %}
{% endfor %}
		
      <div class="clear"></div>
    </div>
  </div>

