<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% head %}
<title>{{site.title}}&mdash;{{site.subtitle}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{{ 'base' | stylesheet }}
  {{ head.feed }}
{% endhead %}
<body>
	<div id="header">
		<div class="inside">
		  <div id="search">
				<form method="get" id="sform" action="/search">
 					<div class="searchimg"></div>
					<input type="text" id="q" value="" name="q" size="15" />
				</form>
			</div>
			<h2><a href="/">{{ site.title }}</a></h2>
			<p class="description">{{ site.subtitle }}</p>
		</div>
	</div>
{{ content_for_layout }}
<hr class="hide" />
    <div id="ancillary">
      <div class="inside">
        <div class="block first">
          <h2>Links</h2>
            <ul class="dates">
              <li><a href="http://mephistoblog.com" title="The best open source publishing system">Mephisto</a></li>
              <li><a href="http://encytemedia.com" title="Mephisto UI Ninja">Justin Palmer</a></li>
              <li><a href="http://techno-weenie.net" title="Mephisto Developer Ninja">Rick Olson</a></li>
            </ul>
        </div>

        <div class="block">
          <h2>Recently</h2>
          <ul class="dates">
{% for article in articles %}
            <li><a href="{{ article.url }}"><span class="date">{{ article.published_at | strftime: '%m.%y' }}</span> {{ article.title }}</a></li>
{% endfor %}
         </ul>
      </div>
			
      <div class="block">
        <h2>Categories</h2>
        <ul class="counts">
{% for section in sections.list %}
          <li><a href="{{ section.url }}"><span class="count">9</span>{{ section.name }}</a></li>
{% endfor %}
        </ul>
      </div>
			
      <div class="clear"></div>
    </div>
  </div>
	<hr class="hide" />
	<div id="footer">
		<div class="inside">
			<p class="copyright">Powered by <a href="http://mephistoblog.com">Mephisto</a> | Hemingway theme by <a href="http://warpspire.com">Kyle Neath</a></p>
			<p class="attributes"><a href="#">Valid XHTML</a> <a href="#">Valid CSS</a></p>
		</div>
	</div>
	<!-- [END] #footer -->
	
</body>
</html>